<div class="top-bar-container">
    <div class="top-bar">
        <div>
            <a href="" routerLink="/pokemonList">Pokemon List</a>
        </div>
        <div>
            <a href="" routerLink="">Log Out</a>
        </div>
    </div>
</div>

<div class="home">
    <div class="card text-center">
        <div>
            <h2><b>ID:</b>{{  pokemon.id }}</h2>
            <h2><b>Name:</b>{{ pokemon.name | titlecase }}</h2>
            <img class = "card-img-top" [src]="pokemon.image" >
        </div>
        <div class="card-body">
            <h4>Types</h4>
            <p class="card-text">
                <span class="type-box" *ngFor="let type of pokemon.types">
                    {{ type }}
                </span>
            </p>
            <h4>Height</h4>
            <span class="type-box">{{ pokemon.height }}</span>
            <h4>Weight</h4>
            <span class="type-box">{{ pokemon.weight }}</span>
            <h4>Moves</h4>
            <p class="card-text">
                <span class="type-box" *ngFor="let move of pokemon.moves">
                    {{ move }}
                </span>
            </p>
        </div>
    </div>
</div>

